<div class="container main-page">
  <div class="row">
    <div class="col-md-12">
      <div class="header">
        <%= image_tag "massage_banner.jpg", class: "header-img"%>
        <h1>Annie's Amazing Massage</h1>
        <h3>Your Best Massage Therapist in Milwaukee</h3>
        <!-- <div class="profile-nav">
          <div class=""><a href="#about_me" class="profile-nav-item">About Me</a></div>
          <div class=""><a href="#what_i_offer" class="profile-nav-item">What I Offer</a></div>
          <div class=""><a href="#price_hour" class="profile-nav-item">Prices & Hours</a></div>
          <div class=""><a href="#location" class="profile-nav-item">Location</a></div>
          <div class=""><a href="#contact" class="profile-nav-item">Contact</a></div>
        </div> -->
      </div>
    </div>
  </div>
  <div class="row main-content">
     <div class="col-md-1"></div>
     <div class="col-md-5">
       <div class="section" id="about_me">
         <h3>About Me</h3>
         <p> My name is Annie. I am a licensed professional Asian message therapist experienced in therapeutic and relaxation massage.
             I will offer you a miraculous massage experience you will not forget.
         </p>
       </div>
       <div class="section">
          <%= image_tag "header.jpg", class: "massage-img"%>
       </div>
     </div>

     <div class="col-md-1"></div>
     <div class="col-md-5">
       <div class="section" id="contact">
         <h3>Contact</h3>
         <p>262-366-4465 (Please message for appointment)</p>
       </div>
       <div class="section" id="price_hour">
         <h3>Prices</h3>
         <ul>
           <li>$35 / 30 mins </li>
           <li>$50 / 60 mins</li>
           <li>$70 / 90 mins</li>
           <li>$90 / 120 mins</li>
         </ul>
       </div>
       <div class="section">
         <h3>Hours</h3>
         <p>Monday through Sunday, 7:00am - 9:00pm</p>
       </div>

       <div class="section" id="what_i_offer">
         <h3>Provide</h3>
         <ul>
           <li>A clean and relaxing room with a professional massage table.</li>
           <li>Massage skills not only for stress relief, but also soreness and pain reduction.</li>
         </ul>
       </div>

       <div class="section" id="location">
         <h3>Location</h3>
         <p>West Allis Area</p>
         <%= image_tag "map.jpg", class: "map-img"%>
       </div>
     </div>
  </div>

</div>
